@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$screen-sm-max: 420px;

@mixin sm {
    @media (max-width: #{$screen-sm-max}) {
        @content;
    }
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

.warning {
    margin: 30px auto;
    color: red;
    padding-top: 30px 0;
    border-radius: 5px;
    border: 1px solid lightgrey;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: -5px 9px 5px -10px rgba(0, 0, 0, 0.39);
}
.content {
    width: 80%;
    text-align: center;
    margin: auto;
    padding: 30px; 
    .content__title {
        color: #172b3b;
        margin-bottom: 20px;
        padding: 20px 0;
        .icon {
            padding-right: 5px;
        }
    }
}
.searchInput {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    height: 35px;
    .input {
        display: block;
        width: 100%;
        font-size: inherit;
        
        border-radius: 2px;
        border: 1px solid #172b3b;
        &:focus {
            outline: none;
        }
        &::placeholder {
            padding-left: 2px;  
        }
        &:hover {
           background-color: #ebeeeb;
        }
    }  
}
.btn {
    border: 1px solid #172b3b;
    border-radius: 2px;
    font-size: inherit;
    background-color: #ebeeeb;
    &:focus {
        outline: none;
    }
    &:hover {
        color: #ccc;
        background-color: #1c3447;
    }
}
.btn__modal {
    padding: 5px;
    margin-top: 30px;   
}
.btn__link {
    background-color: #1c3447;
    color: white;
    text-decoration: none;
 
}

.modal__content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @include sm {
        grid-template-columns: 1fr;
    }
    grid-gap: 10px;
    @include sm {
        width: 100%;
    }
    padding: 10px;
    margin: 30px auto;   
}
.list__item {
    border-radius: 2px;
    border: 1px dotted #ced9ce;
    box-shadow: -4px 4px 4px -4px rgba(0, 0, 0, 0.39);
    padding: 5px;
    color: #172b3b;
    text-align: center;
    line-height: normal;
    height: 100px;
    .name {
        display: block;
        padding: 2px;
    }
    .bold {
        font-weight: bold;
    }
    &:hover {
        background-color: #ebeeeb;
    }
}





