body {
    background-color: floralwhite;
    text-align: center;
}
html {
    position: relative;
}
.modal {
    background-color: grey;
    position: absolute;
    top: 50%;
    text-align: center;
    width: 80%;
    margin: auto;
}
