body {
    background-color: floralwhite;
    text-align: center;
}
html {
    position: relative;
}

.input,
.button__submit {
    font-size: 20px;
    &:hover {
        background-color: lightgrey;
    }
}

.modal__content{
    padding: 10px;
    margin: 0 auto;
    background-color: lightyellow;
}
.list__item {
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 5px;
}


